/* Обратная связь*/

.feedback {
    height: 448px;
    background-image: url("../pic/feedback.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F4F4F4;
    @media (max-width: 1172px) {
      height: 614px;
    }
  }
  
  .feedback-wrap {
   padding-top: 100px;
   @include flex-sp-between;
   text-align: center;
   @media (max-width: 1172px) {
    flex-direction: column;
    padding-top: 64px;
  }
   }
  
  .feedback-comment {
   width: 360px;
   font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #242322;
  @media (max-width: 1172px) {
    margin-top: 0;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
  }
  }
  
  .feedback-italic {
    font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  }
  .feedback-subscibe {
    width: 360px;
    margin-right: 97px;
    @media (max-width: 1172px) {
      margin-right: 0;
      margin-top: 70px;
    }
    }
  
  .feedback-subscibe-up {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 153.2%;
    }
  }
  
  .feedback-subscibe-down {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  @media (max-width: 767px) {
    font-size: 14px;
line-height: 153.2%;
  }
  }
  
  .feedback-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
 
  
  &-field {
    width: 256px;
    padding: 18px 23px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    transition-duration: 0.5s;
        &:hover {
      background-color: pink
    }
  }
  
   &-button {
    padding: 18px 23px;
    background-color: $concept-color;
    border: none;
    border-radius: 0 20px 20px 0;
    transition-duration: 0.5s;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
        &:hover {
   background-color: pink
    }
  }
} 